@page "{searchString?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">   
    <form>
        <p>
            Enter the string to check if it is Pyramid: <input type="text" asp-for="InputString" />
            <input type="submit" value="Check" />
        </p>
        @ViewData["OutputString"]
    </form>

</div>
